<button class="btn btn-primary" routerLink="../../home">Powróć do listy</button>
<div *ngIf="userDetails | async; else loading">
  <p>
    Imię: {{user.firstName}}
  </p>

  <p>
    Nazwisko: {{user.lastName}}
  </p>
  <p>
    Nazwa użytkownika: {{user.username}}
  </p>
  <p>
    Stopień: {{user.rankName}}
  </p>
  <p>
    Numer telefonu: {{user.phoneNumber}}
  </p>
  <p>
    Data urodzenia: {{user.birthday}}
  </p>
  <p>
    Pododdział: {{user.unitName}}
  </p>
</div>

<ng-template #loading>
  Wczytywanie...
</ng-template>
