<div>
  <h1>Edytuj Użytkownika</h1>
  <form *ngIf="user | async; else loading" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Id: </label>
      <input type="text" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label>Imię: </label>
      <input type="text" formControlName="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label>Nazwisko: </label>
      <input type="text" formControlName="lastName" class="form-control">
    </div>
    <div class="form-group">
      <label>Email: </label>
      <input type="email" formControlName="username" class="form-control">
    </div>
    <div class="form-group">
      <label>Data urodzenia: </label>
      <input type="date" formControlName="birthday" class="form-control" >
    </div>
    <div class="form-group">
      <label>Stopień:</label>
      <select formControlName="rankId" class="form-control">
        <option [selected]="rank.name == rankName" *ngFor="let rank of ranks" [ngValue]="rank.id">{{rank.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Nr tel: </label>
      <input type="text" formControlName="phoneNumber" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Zapisz</button>
  </form>
</div>

<ng-template #loading>
  Wczytywanie...
</ng-template>
